body {
    font-family: 'Roboto', sans-serif;
    /* семейство шрифта, которое будет использоваться для оформления текста содержимого. */
    line-height: 1.5;
    /* для блочных элементов определяет минимальную высоту строки текста */
    /* Для остальных строчных элементов line-height задаёт высоту, которая используется для расчёта высоты строки блока */
}

.header {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    /* размер шрифта */
    align-items: center;
    /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
}

.logo {
    margin-right: 50px;
    text-decoration: none;
    /* устанавливает внешний вид декоративных линий в тексте */
    color: lightgreen;
    /* цвет текста */
    background: rebeccapurple;
    /* цвет блока */
    font-weight: 700;
    /* устанавливает насыщенность шрифта. Значение указывается в виде чисел от 100 до 900 с шагом 100 или с помощью заданных ключевых слов */
    padding: 5px 15px;
    /* устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое */
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    /* устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
}

ul>li {
    margin-right: 30px;
}

.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}

.aside {

    background: lavender;
    padding: 10px 20px;
}

.post {
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    padding: 0px 30px 0px 30px;
}

a {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
    /* управляет преобразованием текста элемента в заглавные или прописные символы */
    letter-spacing: 0.5px;
    /* определяет интервал между символами в пределах элемента. Допустимо использовать отрицательное значение, но в этом случае надо убедиться, что сохраняется читабельность текста */
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

section {
    background: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.link {
    background: rebeccapurple;
    color: #FFFFFF;
    padding: 8px 15px 8px 15px;
    margin-left: 10px;
}

ul>li:last-child {
    margin-right: 0;
    background: rosybrown;
}